/* VARIAVEIS CSS */

:root {
  --bg-botao: #6278f7;
  --color-principal-texto: #FFFFFF;
  --color-hover:#95FFD4;
}

/* ESTILIZAÇÃO DO BOTÃO */

.botao {
  background-color: var(--bg-botao);
  color: var(--color-principal-texto);
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  width: 170px;
  padding: 25px;
  border: none;
  cursor: pointer;
  margin: 32px 0;
}

.botao:hover{
    color: var(--color-hover);
}
