/* VARIVEIS CSS */
:root {
  --bg-input: #ffff;
  --box-shadow: rgba(0, 0, 0, 0.06);
}

/* ESTILIZAÇÃO DO CAMPO DE TEXTO DO INPUT */

.campo-texto-input {
  margin: 24px 0;
}

.campo-texto-input label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.campo-texto-input input {
  background-color: var(--bg-input);
  box-shadow: 10px 10px 30px var(--box-shadow);
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 24px;
  box-sizing: border-box;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
}
