/* VARIAVEIS CSS */
:root {
  --bg-select: #fff;
  --box-shadow-select: rgba(0, 0, 0, 0.06);
}

/* ESTILIZAÇÃO DO SELECT E OPTION */

.lista-times label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.lista-times select {
  background-color: var(--bg-select);
  box-shadow: 10px 10px 30px var(--box-shadow-select);
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 24px;
  box-sizing: border-box;
}
